Plug 'tpope/vim-surround'

set nohlsearch
set incsearch
set ignorecase
set smartcase
set clipboard+=unnamed

" set <leader> to <space>
let mapleader = " "

" Remap d to delete without yanking (using black hole register)
nnoremap d "_d
vnoremap d "_d
" Remap x to delete without yanking (using black hole register)
nnoremap x "_x
vnoremap x "_x

" Remap c to delete without yanking (using black hole register)
nnoremap c "_c
vnoremap c "_c

" Map U to redo (Ctrl-r)
nnoremap U <C-r>
vnoremap U <C-r>

noremap gl g_
noremap gh ^
noremap ge G

" map V in Visual-Line to j for better navigation
vnoremap V j
vnoremap v k

" Easier macros repetition
nnoremap Q @q

" nvim flash
map s <Action>(flash.search)

" Go to normal mode and save file
inoremap <C-s> <Esc>:w<CR>
vnoremap <C-s> <Esc>:w<CR>
nnoremap <C-s> :w<CR>

" Map new line
nnoremap <leader>j o<ESC>k
nnoremap <leader>k O<ESC>j

" Copy to clipboard
vnoremap <leader>y  "+y
nnoremap <leader>Y  "+yg_
nnoremap <leader>y  "+y
nnoremap <leader>yy  "+yy

" Paste from clipboard
nnoremap <leader>p "+p
nnoremap <leader>P "+P
vnoremap <leader>p "+p
vnoremap <leader>P "+P

" Commenting
map <leader>c <action>(CommentByLineComment)
map <leader>f <action>(GotoFile)
map <leader>s <action>(GotoSymbol)
map <leader>b <action>(RecentFiles)
map <leader>r <action>(RenameElement)
map <leader>a <action>(ShowIntentionActions)
map <leader><leader> <action>(GotoAction)
map <leader>/ <action>(com.mituuz.fuzzier.FuzzyGrep)

" Window management
nnoremap <leader>wv <C-w>v
nnoremap <leader>wc <C-w>c
nnoremap <leader>wl <C-w>l
nnoremap <leader>wh <C-w>h

" Surround
" Add desired surround around text defined by <motion>
"   y s <motion> <desired>
" Delete existing surround
"   d s <existing>
" Change existing surround to desired
"   c s <existing> <desired>
" Surround when in visual modes (surrounds full selection)
"   S <desired>
